
    <!-- <div class="col">
        <div class="card mt-5 ms-5 animate__animated animate__flipInY" style="width: 18rem;">
            <img src="assets/img-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Macaroons ❤️</h5>
                <p class="card-text"> Macarrones de algo con algo más.</p>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-primary btn-block">!PÍDELO¡</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col ms-1 me-1 animate__animated animate__flipInY">
        <div class="card h-100">
          <img src="assets/img-1.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"> Macaroons ❤️</h5>
            <p class="card-text"> Macarrones de algo con algo más. </p>            
            <div class="d-grid gap-2">
                <button  type="button" class="btn btn-outline-primary btn-block">
                    ¡PÍDELO!
                </button>
                <!-- <a [routerLink]="['/heroe', id]" class="btn btn-outline-primary"> Ver más... </a> -->
            </div>
          </div>
        </div>
    </div>
