<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffffff;">
    <div class="container-md">        
        <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarTogglerDemo02" 
                aria-controls="navbarTogglerDemo02" 
                aria-expanded="collapsed" 
                aria-label="Toggle navigation"
                id="boton"
                (click)="colapsa()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
            <img src="assets/burbujitas-logo.png" class="d-inline-block" id="logo-burbujitas">
        </div>
        <div class="navbar-brand">
            <a href="https://www.facebook.com/BurbujitasShop" target="_blank"><img src="assets/facebook-logo.svg" id="logo" class="d-inline-block align-top"></a>
            <a href="https://www.instagram.com/burbujitasshopp/" target="_blank"><img src="assets/instagram-logo.png" id="logo" class="d-inline-block align-top"></a>
            <a href="https://api.whatsapp.com/send?phone=524779201756&text=Hola,%20visité%20Burbujitas%20Shop..." target="_blank"><img src="assets/whatsapp-logo.png" id="logo" class="d-inline-block align-top"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['home']" (click)="cambiaClase()"> INICIO </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['pasteles']"> PASTELES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['cupcakes']"> CUPCAKES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['candybar']"> CANDYBAR </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['galletas']"> GALLETAS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['cotizaciones']"> COTIZACIONES </a>
                </li>
            </ul>
        </div>        
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
        <a class="navbar-brand">
            <img src="assets/burbujitas-logo.png" class="d-inline-block align-top" id="logo-burbujitas">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav" style="font-size: large;">
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['home']"> INICIO </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['pasteles']"> PASTELES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['cupcakes']"> CUPCAKES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['candybar']"> CANDYBAR </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['galletas']"> GALLETAS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-custom" routerLinkActive="activo" [routerLink]="['cotizaciones']"> COTIZACIONES </a>
                </li>
            </ul>
        </div>
        <div class="navbar-brand">
            <a href="https://www.facebook.com/BurbujitasShop" target="_blank"><img src="assets/facebook-logo.svg" id="logo" class="d-inline-block align-top"></a>
            <a href="https://www.instagram.com/burbujitasshopp/" target="_blank"><img src="assets/instagram-logo.png" id="logo" class="d-inline-block align-top"></a>
            <a href="https://api.whatsapp.com/send?phone=524779201756&text=Hola,%20visité%20Burbujitas%20Shop..." target="_blank"><img src="assets/whatsapp-logo.png" id="logo" class="d-inline-block align-top"></a>
        </div>
    </div>
</nav> -->